/*Roboto font*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;1,600;1,700;1,800&display=swap');

/*reset  rules*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.login-wrapper {
    background: linear-gradient(133.61deg, #007BB5 12.25%, #0A0A0B 106.04%);
    background-image: url(assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}


/*login form rules*/

.login {
    z-index: 1;
    margin: auto;
    background-color: #121212;
    max-width: 450px;
    width: 450px;
    min-height: 100vh;
    padding: 25px;
    box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
    .login {
        min-width: 100%;
    }
}

.logo {
    margin: auto;
    display: block;
}

.access-label {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 12px;
    color: white;
}

.field {
    font-family: 'Nunito', sans-serif !important;
    margin-bottom: 24px;
    font-size: 18px;
}

.field-label {
    display: block;
    margin: 4px auto;
    font-size: inherit;
    color: white;
}

.field-input {
    border: none;
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
    background-color: #272727;
    padding: 14px 16px;
    box-sizing: border-box;
    border-radius: 6px;
    width: 100%;
    font-size: inherit;
    color: white;
}

.access-button {
    display: block;
    width: 100%;
    background-color: #A64141;
    color: white;
    border: none;
    padding: 12px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 20px;
}

.forget {
    text-align: center;
    display: block;
    color: #B0B0B0;
    font-size: 18px;
    margin-bottom: 20px;
    text-decoration: none;
}

.social-label {
    font-size: 16px;
    text-align: center;
    color: #B0B0B0;
    margin-bottom: 20px;
}

.social-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.social-button {
    width: 45%;
    height: 50px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 6px;
}

.social-facebook {
    background-color: #36589E;
}

.social-google {
    background-color: #EB4132;
}

.footer {
    text-align: center;
    color: #bfbfbf;
    font-size: 16px;
}

.request-acivation-label {
    color: #3AC2BC;
    text-decoration: none;
}